body {

    background: url(images/bg1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}


.button:hover {
    background-color: black;
    color: white;
}

.button {
    font-size: 1.5vw;
    height: 8%;
    width: 20%;
    border: none;
    padding: 0.3em 1.2em;
    margin: 0 0.4em 0.4em 0;
    border-radius: 1.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Bebas Neue';
    color: white;
    background-color: #8C1440;
    transition: all 0.2s;
    text-align: center;

}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    max-width: inherit;
    /* For Bootstrap 4 - to avoid the modal window stretching 
    full width */
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}